.app-header {
   margin-top: 10px;
   margin-top: 10px;
}

.movie-container {
   display: flex; 
   flex-flow: row wrap;
   justify-content: space-evenly;
   align-items: center;
   padding: 0; 
   margin: 0; 
}

.movie-card {
   background-color: #f4f4f4;
   font-family: Arial, Helvetica, sans-serif;
   width: 300px;
   height: 420px;
   font-size: 16px;
   color: darkslategray; 
   margin-top: 15px;
   margin-bottom: 15px;
   padding: 10px; 
   border: #f4f4f4 1px solid;
   border-radius: 8px;
}

.movie-title {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
   color: rgba(0, 0, 0, 0.879); 
}

.img-container {
   display: flex; 
   justify-content: center;
   align-items: center;
   height: 280px;
   width: 200px;
   margin: 0 auto; 
   margin-bottom: 20px; 
}

.movie-image {
   width: 100%; 
   height: 100%; 
   max-width: 200px; 
   max-height: 280px; 
   margin: 0 auto; 
}

.button {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   text-decoration: none;
   color: darkslategray; 
   background: #fffdfd;
   border: 1px black solid; 
   border-radius: 8px;
   padding: 5px; 
}

a:link, a:visited {
   color: darkslategray;
   text-decoration: none;
}
a:hover {
   color: rgb(61, 61, 160);
   text-decoration: none;
}
